{% extends 'base.html' %}

{% block title %}{% if object %}Editar Banca{% else %}Agendar Nova Banca{% endif %}{% endblock %}

{% block content %}
<div class="form-container">
    <header class="form-header">
        <h1>{% if object %}Editar Banca{% else %}Agendar Nova Banca{% endif %}</h1>
        {% if not object and form.instance.monografia %}
        <p>Agendando a defesa para: <strong>{{ form.instance.monografia.titulo
                }}</strong></p>
        {% endif %}
    </header>

    <section class="form-content">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="form-button" type="submit">Salvar</button>
        </form>
    </section>
</div>
{% endblock %}
