{% extends 'base.html' %}

{% block title %}Definir Nova Senha{% endblock %}

{% block content %}
<div class="form-container">
    <header class="form-header">
        <h1>Definir Nova Senha</h1>
        <p>Por favor, digite sua nova senha duas vezes para confirmar.</p>
    </header>

    <section class="form-content">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="form-button" type="submit">Salvar Nova Senha</button>
        </form>
    </section>
</div>
{% endblock %}