{% extends 'base.html' %}

{% block title %}{% if object %}Editar Professor{% else %}Adicionar Professor{% endif %}{% endblock %}

{% block content %}
<div class="form-container">
    <header class="form-header">
        <h1>{% if object %}Editar Perfil de Professor{% else %}Adicionar Novo Professor{% endif %}</h1>
         {% if object %}
            <p>Editando perfil de <strong>{{ object.user.get_full_name|default:object.user.username }}</strong></p>
        {% else %}
            <p>Selecione um usuário base para criar o perfil de professor.</p>
        {% endif %}
    </header>

    <section class="form-content">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="form-button" type="submit">Salvar</button>
        </form>
    </section>
</div>
{% endblock %}